*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #151242;
}
.content{
    width: 80%;
    margin-left: 10%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
}
.col{
    flex-basis: 20%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F3F2FF;
    text-align: center;
    min-width: 300px;
}
.col img{
    width: 100px;
    height: 100px;
    transition: 0.5s;
    margin: 20px;
}
.col p{
    color: #424242;
}